@import url('headerFont.css');
.doc_nav{
	box-shadow: unset;
}
body{
	font-size: 0.8325rem !important;
	position: relative;
}
*{
	transition: all .3s;
}
.doc_marginB{
	margin-bottom: 100px;
}
a{
	text-decoration: none;
}
// .text-info{
// 	color: #17a2b8 !important;
// }
// .btn-info{
// 	background: #9C27B0 -webkit-gradient(linear, left top, left bottom, from(#ab47bc), to(#9C27B0)) repeat-x;
//     background: #9C27B0 linear-gradient(180deg, #ab47bc, #9C27B0) repeat-x;
// }