@font-face {
    font-family: 'Suez One';
    src: url('../webfonts/SuezOne-Regular.eot');
    src: url('../webfonts/SuezOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/SuezOne-Regular.woff2') format('woff2'),
        url('../webfonts/SuezOne-Regular.woff') format('woff'),
        url('../webfonts/SuezOne-Regular.ttf') format('truetype'),
        url('../webfonts/SuezOne-Regular.svg#SuezOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suez One';
    src: url('../webfonts/SuezOne-Regular_1.eot');
    src: url('../webfonts/SuezOne-Regular_1.eot?#iefix') format('embedded-opentype'),
        url('../webfonts/SuezOne-Regular_1.woff2') format('woff2'),
        url('../webfonts/SuezOne-Regular_1.woff') format('woff'),
        url('../webfonts/SuezOne-Regular_1.ttf') format('truetype'),
        url('../webfonts/SuezOne-Regular_1.svg#SuezOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

